:root{
    --bg-color: #f8fafc;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    padding: 15px;
    
}

#survey-form{
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
}

input, label{
    margin-bottom: 7px;
}

label{
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  
  border-radius: 4px;
}

@media (min-width: 600px){
    #survey-form{
        padding: 37px;
    }
}

@media (min-width: 1024px){
    #survey-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}